@charset "UTF-8";
/*! destyle.css v2.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable
 */
button,
input,
optgroup,
select,
textarea {
  appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: 0;
  border-radius: 0;
  text-align: inherit;
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type="checkbox"] {
  appearance: checkbox;
}

[type="radio"] {
  appearance: radio;
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: pointer;
  appearance: none;
}

button[disabled],
[type="button"][disabled],
[type="reset"][disabled],
[type="submit"][disabled] {
  cursor: default;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Remove arrow in IE10 & IE11
 */
select::-ms-expand {
  display: none;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type="search"] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable] {
  outline: none;
}

/* Table */
/* ============================================ */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

/* Misc */
/* ============================================ */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

/* -------------------------------------------
common
---------------------------------------------- */
html,
body {
  font-size: 62.5%;
  background-color: #fafafa;
  font-family: 'Noto Sans JP', 'ヒラギノ角ゴ ProN', 'Hiragino Kaku Gothic ProN', sans-serif;
  color: #2c2c2c;
}

img {
  width: 100%;
}

/* -------------------------------------------
header
---------------------------------------------- */
.l-wrap {
  overflow-x: hidden;
}

.header {
  height: 104px;
  width: 100%;
  display: flex;
  position: fixed;
  z-index: 99999;
  transition: all 0.3s ease;
  top: 0;
}

@media print, screen and (max-width: 767px) {
  .header {
    height: auto;
  }
}

.header--default {
  background-color: rgba(255, 255, 255, 0.8);
}

.header__logo {
  margin: 44px 0 0 56px;
  width: 184px;
}

@media print, screen and (max-width: 767px) {
  .header__logo {
    margin: 10px 0 10px 10px;
    width: 100px;
  }
}

.header__nav {
  margin: 0 0 0 64px;
  padding-top: 54px;
  background-color: transparent !important;
}

@media print, screen and (max-width: 767px) {
  .header__nav {
    padding-top: 100px;
    background-color: rgba(255, 255, 255, 0.8);
  }
}

.header__list {
  display: flex;
}

@media print, screen and (max-width: 767px) {
  .header__list {
    display: block;
  }
}

.header__item {
  margin-left: 56px;
}

.header__item:first-child {
  margin-left: 0;
}

@media print, screen and (max-width: 767px) {
  .header__item:first-child {
    margin-left: 56px;
  }
}

.header__item > a:hover {
  color: #FF5F32;
  text-decoration: none;
}

/* -------------------------------------------
setting
---------------------------------------------- */
.drawer-menu-item {
  font-size: 14px !important;
}

@media print, screen and (max-width: 767px) {
  .drawer-menu-item {
    padding: 2.75rem 0.75rem !important;
  }
}

.drawer-hamburger {
  padding: 18px 1.75rem 30px !important;
}

@media print, screen and (min-width: 768px) {
  .drawer-hamburger {
    display: none !important;
  }
}

@media print, screen and (max-width: 767px) {
  .drawer--right .drawer-nav {
    right: -80% !important;
    background-color: transparent !important;
  }
}

@media print, screen and (min-width: 768px) {
  .drawer--right .drawer-nav {
    left: 0 !important;
  }
}

@media print, screen and (max-width: 767px) {
  .drawer-nav {
    width: 80% !important;
  }
}

@media print, screen and (min-width: 768px) {
  .drawer-nav {
    width: 100% !important;
    position: relative !important;
  }
}

@media print, screen and (max-width: 767px) {
  .drawer--right.drawer-open .drawer-hamburger {
    position: inherit !important;
    right: 80% !important;
  }
}

@media print, screen and (max-width: 767px) {
  .drawer-open .drawer-overlay {
    background-color: rgba(255, 255, 255, 0.98) !important;
  }
}

@media print, screen and (max-width: 767px) {
  .drawer--right.drawer-open .drawer-nav {
    right: 0 !important;
  }
}

@media print, screen and (max-width: 767px) {
  .drawer--right.drawer-open .drawer-hamburger {
    right: 0 !important;
  }
}

/* -------------------------------------------
footer
---------------------------------------------- */
.footer {
  border-top: 1px solid #FF5F32;
}

.footer__inner {
  padding-top: 49px;
  padding-bottom: 12px;
}

@media print, screen and (max-width: 767px) {
  .footer__inner {
    padding-top: 20px;
    padding-bottom: 12px;
  }
}

.footer__wrap {
  display: flex;
  justify-content: center;
}

@media print, screen and (max-width: 767px) {
  .footer__wrap {
    display: block;
  }
}

.footer__logo {
  width: 147px;
  display: block;
}

@media print, screen and (max-width: 767px) {
  .footer__logo {
    margin: 0 auto;
  }
}

.footer__nav {
  margin-top: 6px;
  margin-left: 80px;
}

@media print, screen and (max-width: 767px) {
  .footer__nav {
    margin-top: 20px;
    margin-left: 0;
  }
}

.footer__list {
  display: flex;
}

@media print, screen and (max-width: 767px) {
  .footer__list {
    justify-content: center;
  }
}

.footer__item {
  margin-left: 56px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: calc( 21 / 14);
  color: #2c2c2c;
}

@media print, screen and (max-width: 767px) {
  .footer__item {
    margin-left: 20px;
  }
}

.footer__item:first-child {
  margin-left: 0;
}

.footer__item:hover {
  color: #FF5F32;
}

.footer__copyRight {
  margin-top: 24px;
  font-size: 1rem;
  font-weight: 300;
  color: #989898;
  text-align: center;
}

@media print, screen and (max-width: 767px) {
  .footer__copyRight {
    margin-top: 20px;
  }
}

.inner {
  max-width: 1200px;
  margin: 0 auto;
}

/* -------------------------------------------
mainVisual
---------------------------------------------- */
.mainVisual__bgImg {
  background: url(../../../images/home/mv.png) no-repeat;
  background-size: contain;
  background-position: 370px 0;
  height: 655px;
}

@media print, screen and (max-width: 767px) {
  .mainVisual__bgImg {
    background-position: top center;
    height: 500px;
  }
}

.mainVisual__inner {
  position: relative;
  padding: 0 15px;
}

.mainVisual__wrap {
  position: absolute;
  top: 236px;
  left: 130px;
}

@media print, screen and (max-width: 767px) {
  .mainVisual__wrap {
    display: inline-block;
    position: static;
    margin-top: 150px;
    width: 100%;
    text-align: center;
  }
}

.mainVisual__title {
  color: #2c2c2c;
  font-weight: bold;
  font-size: 4.8rem;
  letter-spacing: 2.4px;
  line-height: calc( 72 / 48);
}

@media print, screen and (max-width: 767px) {
  .mainVisual__title {
    font-size: 3.5rem;
  }
}

.mainVisual__text {
  color: #5d5d5d;
  font-size: 1.6rem;
}

.mainVisual__btnArea {
  display: block;
}

@media print, screen and (max-width: 767px) {
  .mainVisual__btnArea {
    width: 100%;
  }
}

.mainVisual__btn {
  padding: 16px 0;
  width: 192px;
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  background-color: #FF5F32;
  border-radius: 30px;
  font-size: 1.8rem;
  line-height: calc( 28 / 18);
  margin-right: 8px;
  color: #fff;
}

.mainVisual__btn:last-child {
  margin-right: 0;
}

.mainVisual__btn:hover {
  opacity: 0.5;
}

@media print, screen and (max-width: 767px) {
  .mainVisual__btn {
    width: 100%;
  }
}

/* -------------------------------------------
news
---------------------------------------------- */
.news {
  margin-top: -62px;
}

@media print, screen and (max-width: 767px) {
  .news {
    margin-top: -40px;
  }
}

.news__inner {
  position: relative;
}

.news__wrap {
  max-width: 980px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
  display: flex;
  padding: 24px 40px;
}

@media print, screen and (max-width: 767px) {
  .news__wrap {
    display: block;
    padding: 10px 15px;
  }
}

.news__heading {
  color: #FF5F32;
  font-size: 1.8rem;
  letter-spacing: 0.2px;
  line-height: calc( 27 / 18);
  width: 80px;
}

.news__list {
  margin: 4px 0 0 32px;
}

@media print, screen and (max-width: 767px) {
  .news__list {
    margin: 10px 0 0;
  }
}

.news__item {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
}

.news__item:last-child {
  margin-bottom: 0;
}

@media print, screen and (max-width: 767px) {
  .news__item {
    display: block;
    padding: 6px 0;
  }
}

.news__date {
  margin-right: 12px;
  font-size: 1.4rem;
  color: #5d5d5d;
}

@media print, screen and (max-width: 767px) {
  .news__date {
    margin-bottom: 6px;
  }
}

.news__title {
  color: #2c2c2c;
  font-size: 1.6rem;
}

.news__link {
  display: inline-block;
  padding-bottom: 2px;
  border-bottom: 1px solid #2c2c2c;
}

.news__link:hover {
  color: #FF5F32;
  border-bottom: 1px solid #FF5F32;
}

@media print, screen and (max-width: 767px) {
  .news__link {
    padding-bottom: 6px;
  }
}

.u-hidden {
  display: none !important;
}

@media print, screen and (max-width: 767px) {
  .u-hidden-sp {
    display: none !important;
  }
}

@media print, screen and (max-width: 1024px) and (min-width: 768px) {
  .u-hidden-tb {
    display: none !important;
  }
}

@media print, screen and (min-width: 1025px) {
  .u-hidden-pc {
    display: none !important;
  }
}

.u-mb-10 {
  margin-bottom: 10px !important;
}
/*# sourceMappingURL=style.css.map */